/* General */
body {
    padding-top: 70px;
    /* Altura del nav */
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
    /* Transición suave */
}

.navbar-brand {
    margin-left: 20px;
    /* Empuja el logo hacia la derecha */
}





/* Estilos del modal */
.modal {
    display: none;
    /* Oculta el modal por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    /* Fondo negro */
    background-color: rgba(0, 0, 0, 0.4);
    /* Fondo negro con opacidad */
}

/* Contenido del modal */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* Ajuste del margen para centrar el modal */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Ancho del modal */
}

/* El botón de cerrar */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* Cambia el color del botón de cerrar cuando el mouse pasa sobre él */
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}








.nav-item {
    font-size: 18px;
}

.dropdown-item {
    font-size: 17px;
}

#navbarDropdown {
    font-size: 20px;
}

.navbar-toggler {
    margin-left: auto;
    /* Alinea el botón de colapso a la derecha en pantallas pequeñas */
}

#navbarDropdown {
    font-size: 16px;
}

/* Modo oscuro */
body.dark-mode {
    background-color: #000d2edb;
    color: white;
}

#NAB {
    color: black;
}

.section-divider {
    border: 0;
    height: 1px;
    background: #ddd;
    /* Color de la línea */
    margin: 2rem 0;
    /* Espaciado arriba y abajo */
}

/*letras*/
p {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

a {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 120;
    /* Aplicar Montserrat Black */
}

/* Hero Section */
.hero {
    padding: 5rem 0;
    background: url('../img/1.png') no-repeat center center;
    background-size: cover;
}

/* Navbar */
.navbar-nav .nav-link {
    margin-right: 1rem;
}

/* Sections */
section {
    padding: 2rem 0;
}

.dark {
    border: none;
}

.dark:hover {
    background-color: black;
    color: white;
}



/* Footer */
footer {
    background: #f8f9fa;
    transition: background-color 0.3s, color 0.3s;
    /* Transición suave */
}

/* Modo oscuro */
body.dark-mode footer {
    background-color: #333;
    /* Color oscuro para el modo oscuro */
    color: white;
    /* Color del texto en el footer para el modo oscuro */
}

.dark {
    border-radius: 8%;
}

/* Añadir Bordes y Sombras a las Tarjetas */
.card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Facebook responsive */
.fb-post {
    max-width: 100% !important;
    margin: 0 auto;
}

/* Estilos para hacer la sección de anuncios responsiva */
@media (max-width: 768px) {
    .fb-post {
        width: 100% !important;
    }
}

/* Cambiar el Estilo de los Textos */
.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #343a40;
}




.card-text {
    font-size: 1rem;
    color: #6c757d;
}

.text-body-secondary {
    color: #868e96;
}

/* Añadir Efectos de Hover en el Título y Botón de Acción */
.card-title:hover {
    color: #007bff;
    cursor: pointer;
}

.card-body {
    text-align: center;
}

.card-body h5 {
    margin-bottom: 1rem;
}

/* Espaciamiento Entre Tarjetas */
.card-group {
    margin-bottom: 2rem;
}

.card {
    margin: 0 15px;
}